<!doctype html>

<html>
<head>
    <title></title>
</head>
<body>
    <form action="/madlib">

        <label>What's your favorite food?
        <input type="text" name="noun"><br></label>

        <label>What's your favorite color?
        <input type="text" name="color"><br></label>

        <label>Who is your favorite singer?
        <input type="text" name="person"><br></label>

        <label>Describe yourself in one word.
        <input type="text" name="adjective"><br></label>

        <input type="submit">


    </form> 

</body>
</html>